[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/textile"]
	path = bundle/textile
	url = git://github.com/timcharper/textile.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-lesscss"]
	path = bundle/vim-lesscss
	url = git://github.com/itspriddle/vim-lesscss.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/mirell/vim-matchit.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/maven-plugin"]
	path = bundle/maven-plugin
	url = git://github.com/vim-scripts/maven-plugin.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = git://github.com/gregsexton/MatchTag.git
